<html>
  <head><title>SimpleInterest</title></head>
  <body>
    <H1>Principal: <%= principal %> </H1>
    <H1>Rate: <%= rate %> </H1>
    <H1>Time: <%= time %> </H1>
    <H1>Interest: <%= interest %> </H1>
  </body>
</html>
